{% extends 'base.html' %}
{% block body %}
    <style type="text/css">
        * {
            background-color: black;
            -webkit-text-fill-color: white;
        }

        .button {
            -webkit-text-fill-color: black;
            background-color: white;
            border: none;
            width: 100% !important;
            text-align: left;
        }

        div {
            -webkit-text-fill-color: white;
        }
    </style>
    <div id="home-page" class="container-fluid my-4">
        <div id="nav-bar">
            [[ selectedPage ]]
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <button v-if="selectedPage === 'View'" type="button"
                            class="btn btn-primary">View
                    </button>
                    <button v-else @click="updatePage('View')" type="button" class="btn btn-secondary"> View</button>
                    <button v-if="selectedPage === 'Add'" type="button"
                            class="btn btn-primary">Add
                    </button>
                    <button v-else @click="updatePage('Add')" type="button" class="btn btn-secondary"> Add</button>
                    <button v-if="selectedPage === 'Play'" type="button"
                            class="btn btn-primary">Play
                    </button>
                    <button v-else @click="updatePage('Play')" type="button" class="btn btn-secondary"> Play</button>
                </div>
            </div>
        </div>
        <div v-if="selectedPage === 'View'" id="viewPage">
            <div>
                View page
            </div>
            <img src="https://media.giphy.com/media/123cG2H4JWnUuk/giphy.gif" alt="">
            <div class="mapouter">
                <div class="gmap_canvas">
                    <iframe width="600" height="500" id="gmap_canvas"
                            src="https://maps.google.com/maps?q=your%20moms%20house&t=&z=13&ie=UTF8&iwloc=&output=embed"
                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                    <a href="https://www.crocothemes.net/divi-discount-code-elegant-themes-coupon/">crocothemes.net</a>
                </div>
                <style>.mapouter {
                    position: relative;
                    text-align: right;
                    height: 500px;
                    width: 600px;
                }

                .gmap_canvas {
                    overflow: hidden;
                    background: none !important;
                    height: 500px;
                    width: 600px;
                }</style>
            </div>
            <table>
                <thead>
                <tr>
                    <td>word:</td>
                    <td>word id:</td>
                </tr>
                </thead>
                <tbody v-for="category in categoriesObject">
                <tr>
                    <td style="-webkit-text-fill-color: red">
                        [[ category.name ]]
                    </td>
                </tr>
                <tr v-for="word in category.wordList">
                    <td style="-webkit-text-fill-color: limegreen">
                        [[ word.word ]]
                    </td>
                    <td style="-webkit-text-fill-color: orange">
                        [[ word.id ]]
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div v-if="selectedPage === 'Add'" id="addPage">
            <span>
                Add page
            </span>
        </div>
        <div v-if="selectedPage === 'Play'" id="playPage">
            <span>
                Play page
            </span>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
        var app = new Vue({
            el: '#home-page',
            delimiters: ['[[', ']]'],
            data: {
                selectedPage: 'View',
                title: 'sick charades app',
                input: '',
                categories: {{ categories | safe }}
            },
            methods: {
                updatePage(value) {
                    this.selectedPage = value;
                }
            },
            computed: {
                categoriesObject() {
                    return this.categories;
                }
            }

        })
    </script>
{% endblock %}