{% extends 'base.html' %}
{% block body %}
    <style type="text/css">
        * {
            background-color: black;
            text-decoration-color: white;
            font-family: Helvetica, sans-serif;
            font-size: xx-large;
            margin: auto;
        }

        .button {
            -webkit-text-fill-color: black;
            background-color: white;
            border: none;
            width: 100% !important;
            text-align: left;
        }

        .checkmark {
            height: 30px;
            width: 30px;
        }

        div {
            -webkit-text-fill-color: white;
        }
    </style>
    <div id="play-page" class="container-fluid my-4">
        <form id="play-game" name="categoriesToPlay" action="{{ url_for('demo_bp.play') }}" method="post">
            <h3>sick charades app</h3>
            <b>select a category to view the words</b><br>
            {% for c in categories %}
                <label>
                <input class="checkmark" type="checkbox" name={{ c.id }} value="{{ c.id }}">
                {{ c.name }}<br>
            {% endfor %}
            </label>
            <button type="submit" form="play-game" class="button">click to play a game with the selected categories
            </button>
            {% if category < 999 %}
                {% for word in words %}
                    <b>{{ word.text }}</b><br>
                {% endfor %}
            {% endif %}
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
        var app = new Vue({
            el: '#play-page',
            delimiters: ['[[', ']]'],
            data: {
                title: 'sick charades app',
                input: '',
                words: {{ playWords | safe }}
            },
            methods: {
                updateInputValue(value) {
                    this.input = value;
                }
            }

        })
    </script>
{% endblock %}
