{% extends 'base.html' %}
{% block body %}
    <style type="text/css">
        * {
            background-color: black;
            text-decoration-color: white;
            font-family: Helvetica, sans-serif;
            font-size: xx-large;
            margin: auto;
        }

        .button {
            -webkit-text-fill-color: black;
            background-color: white;
            border: none;
            width: 100% !important;
            text-align: left;
        }

        .checkmark {
            height: 30px;
            width: 30px;
        }

        div {
            -webkit-text-fill-color: white;
        }
    </style>
    <div id="play-page" class="container-fluid my-4">
        <form v-if="!playGame" id="play-game" name="categoriesToPlay" action="{{ url_for('demo_bp.play') }}"
              method="post">
            <h3>sick charades app</h3>
            <b>select a category to view the words</b><br>
            {% for c in categories %}
                <label>
                <span @click="makeGameList">
            {{ c.name }}
            </span>
            {% endfor %}
            </label>
            <button type="submit" form="play-game" class="button">click to play a game with the selected categories
            </button>
            {% if category < 999 %}
                {% for word in words %}
                    <b>{{ word.text }}</b><br>
                {% endfor %}
            {% endif %}
        </form>
        <table v-if="words">
            <tr>
                <td>category id:</td>
                <td>word id:</td>
                <td>word text:</td>
            </tr>
            <tr v-for="x in words">
                <td>[[ x.cat_id ]]</td>
                <td>[[ x.id ]]</td>
                <td>[[ x.text ]]</td>
            </tr>
        </table>
        <button v-if="words != null" @click="makeGameList">play game</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
        var app = new Vue({
            el: '#play-page',
            delimiters: ['[[', ']]'],
            data: {
                title: 'sick charades app',
                input: '',
                words: null,
                playGame: false,
                playFrame: null
            },
            methods: {
                updateInputValue(value) {
                    this.input = value;
                },
                makeGameList() {
                    this.playGame = true;
                    this.words = {{ playWords | safe }};
                    console.log(this.words);
                    console.log(this.playGame);
                    console.log(this.playFrame);
                    console.log(this.words);
                    this.playFrame = this.words;
                }
            }

        })
    </script>
{% endblock %}
