{% extends 'base.html' %}
{% block body %}
    <style type="text/css">
        * {
            background-color: black;
            text-decoration-color: white;
            font-family: Helvetica, sans-serif;
            font-size: xx-large;
            margin: auto;
        }

        .button {
            -webkit-text-fill-color: black;
            background-color: white;
            border: none;
            width: 100% !important;
            text-align: left;
        }

        .checkmark {
            height: 30px;
            width: 30px;
        }

        div {
            -webkit-text-fill-color: white;
        }
    </style>
    <div class="container-fluid my-4">
        <form id="view-words" name="categoryToView" action="{{ url_for('demo_bp.viewWords') }}" method="post">
            <h3>sick charades app</h3>
            <b>select a category to view the words</b><br>
            {% for c in categories %}
                <label>
                {% if loop.index < 2 %}
                    <input class="checkmark" type="radio" checked="checked" name="category" value="{{ c.id }}">
                    {{ c.name }}<br>
                {% elif loop.index > 1 %}
                    <input class="checkmark" type="radio" name="category" value="{{ c.id }}">
                    {{ c.name }}<br>
                {% endif %}
            {% endfor %}
            </label>
            <button type="submit" form="view-words" class="button">click to view words</button>

            {% if category < 999 %}
                {% for word in words %}
                    <b>{{ word.text }}</b><br>
                {% endfor %}
        {% endif %}
        </form>
    </div>
{% endblock %}
